@charset "utf-8";
/*reset*/
html,body{
    width:100%; 
    min-height:800px;
    font-family:"Noto Sans KR", sans-serif; 
    font-size:10px; 
    margin:0;
    background:#000;
    color:#fff;
}
div,h1,h2,h3,h4,h5,h6,dl,dt,dd,p,form,fieldset,select{margin:0; padding:0;}
header,footer,section,article,address,nav{display:block;margin:0;}
body a{text-decoration: none;color:#fff;}
ul,ol,li{list-style:none; margin:0; padding: 0;}
i,em,address{font-style:normal;}
table{border-collapse:collapse; table-layout:fixed;}
button{margin:0;background:none;border:0 none;cursor: pointer;}
select{border:0 none;background:none;}

/*lay out*/
/*header*/
header{
    position:fixed;
    z-index:999;
    width:100%;
    height:50px;
    background:#000;
}
header h1{
    position:fixed;
    top: 10px;
    left:14px;
}
header .r_menu{
    position:fixed;
    top:18px;
    right:14px;
}
.r_menu a{
    margin-right: 20px;
}
/*section line*/
.device_line{
    width: calc(100% -30px);
    border:none;
    border-top:1px solid #4b4b4b;
    content:" ";
    margin: 40px 15px;
    position:relative;
}
.device_line01{
    width: 100%;
    border:none;
    border-top:1px solid #4b4b4b;
    content:" ";
    margin: 30px 0;
    position:relative;
}
/*main*/
.main{
    position: relative;
    z-index:10;
    max-width: 100%;
    padding-top: 103%;
    background: url(../img/sec1/img_bg.png) no-repeat center 50px/contain;
}
.main .fox_intro{
    position: absolute;
    z-index: inherit;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 0 10px;
    color:#fff;
}
.fox_intro .intro{
    font-size:1.5rem;
}
.intro span{
    margin-left:5px;
}
.fox_intro .ep p:first-child{
    font: 700 1.5rem "Noto Sans KR";
    margin-top: 5px;
}
.fox_intro .ep p:nth-child(2){
    color:#7f7e7e;
    font:600 1.3rem "Noto Sans KR";
    margin-top:5px;
}
.fox_intro .ep p:last-child{
    color:#3f3f3f;
    font:600 1.3rem "Noto Sans KR";
    margin: 5px 0 20px 0;
}
.fox_intro .button{
    font:500 1.5rem "Noto Sans KR";
    text-align: center;
}
.fox_intro .button a img{
    padding-right: 7px;
}
.fox_intro .button a{
    width: 47%;
    display: inline-block;
    padding: 10px 0;
    border:none;
    border-radius: 25px;
    background-color:#fff;
    color:#000;
}
.fox_intro .button a:last-child{
    border:1px solid #fff;
    background: #000;
    color: #fff;
    margin-left: 10px;
}
/*Lately Season*/
.season32{
    width:100%;
}
.season_select{
    width: 150px;
    margin-left:10px;
    border:none;
    padding-bottom: 20px;
    appearance: none;
    font: 900 2rem "Noto Sans KR";
    color:#fff;
    background: url(../img/seasons_32/ico_bottom.png)no-repeat 90% 30%;
}
.season32 ul {
    width:100%;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: nowrap;
}
.season32 ul li{
    display:inline-block;
    width:80%;
    height:60%;
    padding-left:10px;
    vertical-align: top;
}
.season32 ul li img{
    width:100%;
}    
.season32 ul li a{
    position: relative;
    min-height:240px;
    overflow:visible;
}
.play{
    position: absolute;
    background:url(../img/seasons_32/ico_play.png)no-repeat;
}
.title{
    font:700 1.7rem "Noto Sans KR";
    margin-top:10px;
}
.content{
    white-space: normal;
    color:#7f7e7e;
    font:600 1.3rem "Noto Sans KR";
    margin-top:5px;
}
.onair{
    color:#3f3f3f;
    font:600 1.3rem "Noto Sans KR";
    margin:5px 0 10px 0;
}
/*Meet the Character*/
.meet{
    width:100%;
}
.top_title{
    margin-left:10px;
}
.top_title h2{
    font: 900 2rem "Noto Sans KR";
    padding-bottom: 30px;
}
.top_title h2 a{
    float:right;
    color:#b6b5b5;
    font:500 1.5rem "Noto Sans KR";
    line-height: 2.5;
}
.top_title h2 a img{
    margin: -4px 10px;
}
.meet .character{
    width:100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.meet .character div{
    display:inline-block;
    width: 40%;
}
.meet .character div img{
    width: 95%;
    padding-left: 10px;
}
.meet .character div p{
    font:700 1.7rem "Noto Sans KR";
    text-align: center;
    padding: 20px 0;
}
/*Best Episodes*/
.Best{
    width:100%;
}
.Best ul {
    width:100%;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: nowrap;
}
.Best ul li{
    display:inline-block;
    width:80%;
    height:60%;
    padding-left:10px;
    vertical-align: top;
}
.Best ul li img{
    width:100%;
}
.Best ul li a{
    min-height:240px;
    overflow:visible;
}
/*About the Show*/
.about{
    width: calc(100% - 28px);
    margin: 0 14px;
}
.about h2{
    font-size: 2rem;
    padding-bottom: 20px;;
}
.about p{
    font: 500 1.2rem "Noto Sans KR";
    white-space: normal;
    color:#b0b0b0;
}
.about p a{
    font: 600 1.5rem "Noto Sans KR";
    color:#fff;
}
.about .sns{
    text-align: center;
}
.about .sns li{
    display: inline-block;
    width: 56px;
    height: 56px;
    margin: 26px;
    border:none;
    border-radius: 50px;
    background-color:#464646;
}
.about .sns li a i{
    vertical-align: middle;
    padding: 24%;
}
.page_location{
    width:100%;
    font-size:1.5rem;
}
.page_location a{
    width:30%;
    color:#7f7e7e;
    margin-right:10px;
}
.page_location img{
    margin-right:10px;
}
/*Footer*/
#f_menu{
    width:calc(100% - 28px);
    margin:0 14px;
}
.f_title{
    margin:80px 0 50px;
}
.f_title div{
    border:none;
    border-bottom:2px solid #4b4b4b;
    content:" ";
    margin:30px 0;
}
.f_title div p{
    font:600 2rem "Noto Sans KR";
}
.f_title div p button{
    float:right;
}
/*FOX Link*/
.f_list{
    display:inline-block;
}
.f_list li{
    display:none;
    float:left;
    margin:20px;
}
.f_title .links div{
    border:none;
    display:none;
}
.f_title .links p{
    margin-bottom:15px;
}
.f_title .links div a{
    display:block;
    margin: 5px 0;
    font:600 1.8rem "Noto Sans KR";
    color:#7f7e7e;
}
/*FOX Networks*/
.f_title .networks p{
    margin-bottom:15px;
}
.f_title .networks div{
    border:none;
    display:none;
}
.f_title .networks div a{
    display:block;
    margin: 5px 0;
    font:600 1.8rem "Noto Sans KR";
    color:#7f7e7e;
}
.f_info img:first-of-type{
    margin:20px 0;
}
.f_text{
    margin:10px 0;
    font: 500 1.2rem "Noto Sans KR";
    color:#7f7e7e;
}
.f_text a{
    /* font-weight:700; */
    font: 700 1.4rem "Noto Sans KR";
}
.f_info img:last-of-type{
    margin:20px 0;
}
